body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculadora {
    width: 250px;
    background-color: #f4b6c2;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;   
    border: 1px solid #888;

}

#resultado {
    width: 240px;
    height: 50px;
    background-color: #d3eafd;
    text-align: right;
    padding: 10px;
    border-radius: 5px;
    font-size: 27px;
    margin-bottom: 20px;
    border: 1px solid #888;
    font-family: 'Poppins', Arial, sans-serif;
 }

input {
    width: 50px;
    height: 50px;
    background-color: #d3eafd;
    border: 1px solid #888;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
    color: #555;
    cursor: pointer;
    font-family: 'Poppins', Arial, sans-serif;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

}

.boton-operador {
    background-color: #ff77a9;
    color: #fff;
}

.boton-igual {
    background-color: #6fc2b0;
    color: white;
}

.boton-clear {
    background-color: #ff776e;
    color: white;
}

input:active {
    transform: scale(0.95);
}

.numerosito:hover {
    background-color: hsl(0, 0%, 70%);
}
.boton-operador:hover {
    background-color: hsl(327, 58%, 59%);
}
.boton-igual:hover {
    background-color: hsl(165, 59%, 46%);
}
.boton-clear:hover {
    background-color: hsl(12, 75%, 58%);
}